@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

body, html {
  font-family: 'Lato';
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 35px;
}

.header__row {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

@media (max-width: 767px) {
  .header {
    top: 15px;
  }
}

.menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
  padding: 0 37.5px;
}

.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5px;
}

.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}

.menu__list li:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  border-radius: 50%;
  margin: -1.5px 0 0 0;
}

.menu__list li:nth-child(2):after, .menu__list li:nth-child(4):after {
  display: none;
}

.menu__link {
  position: relative;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}

@media (max-width: 767px) {
  .menu .menu__item {
    display: block;
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 20px;
    right: 0;
    margin: 0 20px 0 0;
  }
  .menu .menu__item span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu .menu__item:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu .menu__item:after {
    content: '';
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu .menu__item.active span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    background-color: #fff;
  }
  .menu .menu__item.active:before {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: #fff;
  }
  .menu .menu__item.active:after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #fff;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4959;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    overflow: auto;
  }
  .menu__body.active {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .menu__list {
    padding: 140px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu__list li {
    padding: 0 !important;
    margin: 0 0 45px 0;
  }
  .menu__link {
    color: #fff;
    font-size: 20px;
  }
}

.item-menu {
  display: none;
}

.generation {
  padding: 120px 0;
  background-color: #f7f7f7;
}

@media (max-width: 900px) {
  .generation {
    padding: 80px 0;
  }
}

@media (max-width: 600px) {
  .generation {
    padding: 30px 0;
  }
}

.block {
  text-align: center;
}

.block__icon {
  margin: 0 0 32px 0;
}

.block__title {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.block__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
}
