@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  display: none;
}

body, html {
  font-family: 'Lato';
  height: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main-screen {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
  position: relative;
}

.main-screen__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 50;
  top: 35px;
}

.header__row {
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__link {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

@media (max-width: 767px) {
  .header {
    top: 15px;
  }
  .header__link.active {
    position: fixed;
    -webkit-transform: translate(-50%, 15px);
    -ms-transform: translate(-50%, 15px);
    transform: translate(-50%, 15px);
    -webkit-animation-name: logo;
    animation-name: logo;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  @-webkit-keyframes logo {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100 {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes logo {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    100 {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  position: relative;
  padding: 0 37.5px;
}

.menu__list li:nth-child(2) {
  padding: 0 110px 0 37.5px;
}

.menu__list li:nth-child(3) {
  padding: 0 37.5px 0 110px;
}

.menu__list li:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 2px;
  height: 2px;
  background-color: #4d4959;
  border-radius: 50%;
  margin: -1.5px 0 0 0;
}

.menu__list li:nth-child(2):after, .menu__list li:nth-child(4):after {
  display: none;
}

.menu__link {
  position: relative;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}

@media (max-width: 767px) {
  .menu .menu__item {
    display: block;
    position: fixed;
    z-index: 1;
    width: 30px;
    height: 20px;
    right: 0;
    margin: 0 20px 0 0;
  }
  .menu .menu__item span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu .menu__item:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu .menu__item:after {
    content: '';
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4d4959;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .menu .menu__item.active span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 8px;
    background-color: #fff;
  }
  .menu .menu__item.active:before {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: #fff;
  }
  .menu .menu__item.active:after {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 8px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #fff;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #4d4959;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    overflow: auto;
  }
  .menu__body.active {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .menu__list {
    padding: 140px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu__list li {
    padding: 0 !important;
    margin: 0 0 45px 0;
  }
  .menu__link {
    color: #fff;
    font-size: 20px;
  }
}

.item-menu {
  display: none;
}

.generation {
  padding: 120px 0;
  background-color: #f7f7f7;
}

@media (max-width: 900px) {
  .generation {
    padding: 80px 0;
  }
}

@media (max-width: 600px) {
  .generation {
    padding: 30px 0;
  }
}

.block {
  text-align: center;
}

.block__icon {
  margin: 0 0 32px 0;
}

.block__title {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
}

.block__text {
  font-size: 18px;
  line-height: 34px;
  color: #848789;
}

.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}

.block__text_j:after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: rgba(53, 55, 56, 0.2);
  margin: 35px auto 0 auto;
}

@media (max-width: 1500px) {
  .block__text_j:after {
    margin: 15px auto 0 auto;
  }
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1100px) {
  .brands__row_rev .brands__column {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .brands__row_rev .brands__column_b {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.brands__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}

.brands__column_b {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 66.667%;
  flex: 0 1 66.667%;
}

.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}

.brands__content:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0  0 0 -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}

.brands__image {
  padding: 0 0 37.502% 0;
}

@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}

@media (max-width: 1100px) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;
}

.item__logo {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(113, 182, 151, 0.6);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}

.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0 0 70% 0;
  }
  .item__logo {
    opacity: 1;
    visibility: visible;
  }
  .item__logo_n {
    opacity: 0;
    visibility: hidden;
  }
}

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 68px 0;
  position: relative;
}

.slider__slide {
  text-align: center;
}

.slider__title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  margin: 37px 0 0 0;
}

.slider__title span {
  font-weight: 300;
  color: #848789;
}

.slider__subtitle {
  margin: 23px 0 0 0;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
}

.slider .slick-dots {
  margin: 104px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider .slick-dots li {
  margin: 0 4.5px;
}

.slider .slick-dots li.slick-active button {
  background-color: #a9afb3;
}

.slider .slick-dots li button {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #f7f7f7;
  border: 1px solid #a9afb3;
}

@media (max-width: 865px) {
  .slider {
    padding: 55px 0 55px 0;
  }
  .slider .slick-dots {
    margin: 45px 0 0 0;
  }
}

@media (max-width: 768px) {
  .slider__title {
    margin: 25px 0 0 0;
  }
  .slider__subtitle {
    margin: 18px 0 0 0;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  .slider {
    padding: 35px 0 35px 0;
  }
  .slider .slick-dots {
    margin: 25px 0 0 0;
  }
}

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop {
  overflow: hidden;
}

.shop__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 16.666%;
  flex: 0 1 16.666%;
}

.shop__column_b {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.333%;
  flex: 0 1 33.333%;
}

.shop__bottom {
  padding: 75px 0;
  background-color: #282f35;
  text-align: center;
}

.shop__link {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 60px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  border: 1px solid #fff;
  -webkit-transition: all 0.4s ease 0.01s;
  -o-transition: all 0.4s ease 0.01s;
  transition: all 0.4s ease 0.01s;
}

.shop__link span {
  position: absolute;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.shop__link:hover {
  -webkit-transition: all 0.4s ease 0.25s;
  -o-transition: all 0.4s ease 0.25s;
  transition: all 0.4s ease 0.25s;
  border: 1px solid #282f35;
}

.shop__link:hover p {
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
  z-index: 2;
  color: #282f35;
}

.shop__link:hover span {
  position: absolute;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation-name: span;
  animation-name: span;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
}

@-webkit-keyframes span {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes span {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 900px) {
  .shop__top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .shop__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
  .shop__column:first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
  .shop__column:last-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }
  .shop__bottom {
    padding: 45px 0;
  }
  .shop__link {
    padding: 0 30px;
  }
}

.block-shop {
  height: 100%;
}

.block-shop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-shop__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}

.block-shop__item {
  height: auto;
  padding: 0 0 50% 0;
}

.block-shop__item_b {
  padding: 0 0 200.5% 0;
}

.block-shop__item_l {
  padding: 0 0 100% 0;
}

.subscribe {
  padding: 110px 0;
}

.subscribe__body {
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
}

.subscribe__title {
  margin: 38px 0 0 0;
  font-size: 24px;
  line-height: 34px;
  font-style: italic;
  color: #848789;
}

.subscribe__form {
  margin: 63px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.subscribe__input {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 0 8px 0 0;
}

.subscribe__button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 126px;
  flex: 0 0 126px;
}

.subscribe__btn {
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  height: 69px;
  background-color: #64c29e;
  width: 100%;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
}

.subscribe__btn:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}

@media (max-width: 900px) {
  .subscribe {
    padding: 60px 0;
  }
}

@media (max-width: 600px) {
  .subscribe {
    padding: 30px 0;
  }
  .subscribe__title {
    margin: 30px 0 0 0;
  }
  .subscribe__form {
    margin: 30px 0 0 0;
    display: block;
  }
  .subscribe__input {
    padding: 0 0 12px 0;
  }
}

.input {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  padding: 0 28px;
  font-size: 20px;
  line-height: 24px;
  font-style: italic;
  color: #929292;
}

.input:focus {
  border: 1px solid #64c29e;
}
