// Файл обнуляющих стилей
@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap);

.ibg{
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		img{display: none};
}

body,html{
	font-family: 'Lato';
	height: 100%;
}
body.lock{
	overflow: hidden;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
}

.container{
	max-width: 1130px;
	margin: 0 auto;
	padding: 0 15px;
}

//==================================
.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
}
.main-screen {
	flex:1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
//  <HEADER>  ==============================================

.header {
	position: absolute;
	width: 100%;
	z-index: 50;
	top: 35px;
	&__row {
		height: 85px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__menu {
	}
	&__logo{
	}
	&__link{
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%,0px);
	}
@media (max-width: 767px) {
	top: 15px;
	&__link.active{
		position: fixed;
		transform: translate(-50%,15px);
		animation-name: logo;
		animation-duration: 0.5s;
		transition: all 0.3s ease 0s;
	}
	@keyframes logo{
		0%{
			transform: scale(0);
		}
		100{transform: scale(1);}
	}
}
}
.menu {
	&__item {}
	&__body {}
	&__list {
		position: relative;
		display: flex;
		& li{
			position: relative;
			padding: 0 37.5px;
			&:nth-child(2){
			padding: 0 110px 0 37.5px;
		}
			&:nth-child(3){
				padding: 0 37.5px 0 110px;
			}
			&:after{
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			width: 2px;
			height: 2px;
			background-color: #4d4959;
			border-radius: 50%;
			margin: -1.5px 0 0 0;
			}
			&:nth-child(2),
			&:nth-child(4){
				&:after{
					display: none;
				}
			}
		}
	}
	&__link {
		position: relative;
		font-size: 13px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #4d4959;
	}

	@media (max-width: 767px) {
		.menu__item{
			display: block;
			position: fixed;
			z-index: 1;
			width: 30px;
			height: 20px;
			right: 0;
			margin: 0 20px 0 0;
			& span{
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 2px;
				background-color: #4d4959;
				transition: all 0.3s ease 0s;
			}
			&:before{
				content: '';
				position: absolute;
				top: 8px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #4d4959;
				transition: all 0.3s ease 0s;
			}
			&:after{
				content: '';
				position: absolute;
				top: 16px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: #4d4959;
				transition: all 0.3s ease 0s;
			}
		}
		.menu__item.active span{
			transition: all 0.3s ease 0s;
			transform:rotate(45deg);
			top:8px;
			background-color: #fff;
		}
		.menu__item.active:before{
			transition: all 0.3s ease 0s;
			transform:scale(0);
			background-color: #fff;
		}
		.menu__item.active:after{
			transition: all 0.3s ease 0s;
			top: 8px;
			transform:rotate(-45deg);
			background-color: #fff;
		}
		&__body{
			position:fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left:0;
			background-color: #4d4959;
			transition: all 0.3s ease 0s;
			transform: scale(0);
			overflow: auto;
		}
		&__body.active{
			transition: all 0.3s ease 0s;
			transform: scale(1);
		}
		&__list{
			padding: 140px 0 0 0;
			flex-direction:column;
			align-items: center;
			& li{
				padding: 0 !important;
				margin: 0 0 45px 0;
			}
		}
		&__link{
			color: #fff;
			font-size: 20px;
		}
	}
}

.item-menu{
	display: none;
}

//  <GENERATION>  =========================================

.generation {
	padding: 120px 0;
	background-color: #f7f7f7;
	&__block {}
	@media (max-width: 900px) {
		padding: 80px 0;
	}
	@media (max-width: 600px) {
		padding: 30px 0;
	}
}
.block {
	text-align: center;
	&__icon {
		margin: 0 0 32px 0;
	}
	&__title {
		margin:  0 0 20px 0;
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #353738;
	}
	&__text {
		font-size: 18px;
		line-height: 34px;
		color: #848789;
		&_j {
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
			&:after{
				content: '';
				display: block;
				width: 50px;
				height: 1px;
				background-color: rgba(53,55,56,0.2);
				margin: 35px auto 0 auto;
			}
		}
	}
	@media (max-width: 1500px) {
		&__text{
			&_j{
				&:after{
					margin: 15px auto 0 auto;
				}
			}
		}
	}
}

//  <BRANDS>  =========================================

.brands {
	&__row {
		display: flex;
		&_rev{
			@media (max-width: 1100px) {
				.brands__column{
				order: 2;
				&_b{
					order: 1;
				}
			}
		}
			}
	}
	&__column {
		flex: 0 1 33.333%;
		&_b {
			flex: 0 1 66.667%;
		}
	}
	&__item {}
	&__content {
		padding: 70px 65px 55px 65px;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin: 0  0 0 -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
		}
	}
	&__image {
		padding: 0 0 37.502% 0;
	}
	@media (max-width: 1500px) {
		&__content{
			padding: 40px 35px 30px 35px;
		}
	}
	@media (max-width: 1100px) {
		&__row{
			flex-direction: column;
		}
	}
}
.item {
	height: 100%;
	display: block;
	position: relative;
	&__logo {
		transition: all 0.3s ease 0s;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(113, 182, 151, 0.6);
		z-index: 2;
		opacity: 0;
		visibility: hidden;
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover{
		.item__logo{
			opacity: 1;
			visibility: visible;
		}
	}
		@media (max-width: 1100px) {
			height: auto;
			padding: 0 0 70% 0;
			&__logo{
				opacity: 1;
				visibility: visible;
				&_n{
					opacity: 0;
					visibility: hidden;
				}
			}
	}
}

//  <SLIDER>  =========================================

.slider {
	background-color: #f7f7f7;
	padding: 120px 0 68px 0;
	position: relative;
	&__slide {
		text-align: center;
	}
	&__link {}
	&__title {
		font-size: 18px;
		line-height: 1.2;
		font-weight: 700;
		letter-spacing: 0.1em;
		color: #353738;
		margin: 37px 0 0 0;
		& span{
			font-weight: 300;
			color: #848789;
		}
	}
	&__subtitle {
		margin: 23px 0 0 0;
		font-size: 24px;
		line-height: 34px;
		font-style: italic;
		color: #848789;
	}
	& .slick-dots{
		margin: 104px 0 0 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	& .slick-dots li{
		margin: 0 4.5px;
	}
	& .slick-dots li.slick-active button{
		background-color:#a9afb3;
	}
	& .slick-dots li button{
		font-size: 0;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background-color: #f7f7f7;
		border: 1px solid #a9afb3;
	}
	@media (max-width: 865px) {
		padding: 55px 0 55px 0;
		& .slick-dots{
			margin: 45px 0 0 0;
		}
	}
	@media (max-width: 768px) {
		&__title{
			margin: 25px 0 0 0;
		}
		&__subtitle{
			margin: 18px 0 0 0;
			font-size: 20px;
			line-height: 30px;
		}
	}
	@media (max-width: 480px) {
		padding: 35px 0 35px 0;
		& .slick-dots{
			margin: 25px 0 0 0;
		}
	}
}

.slick-list {
	overflow: hidden;
}
/* Лента слайдов */
.slick-track{
	display: flex;
}

// <SHOP> ============================================================

.shop {
	overflow: hidden;
	&__top {
		display: flex;
	}
	&__column {
		flex: 0 1 16.666%;
		&_b {
			flex: 0 1 33.333%;
		}
	}
	&__block {}
	&__bottom {
		padding: 75px 0;
		background-color: #282f35;
		text-align: center;
	}
	&__link{
		position: relative;
		z-index: 2;
		display:inline-block;
		padding: 0 60px;
		line-height: 48px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.2em;
		color: #ffffff;
		border: 1px solid #fff;
		transition: all 0.4s ease 0.01s;
		& span{
				position: absolute;
				transition: all 0.4s ease 0s;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
		}
		&:hover{
			transition: all 0.4s ease 0.25s;
			border: 1px solid #282f35;
			& p{
				transition: all 0.4s ease 0s;
				position: relative;
				z-index: 2;
				color: #282f35;
			}
			& span{
				position: absolute;
				transition: all 0.4s ease 0s;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #fff;
				animation-name:span;
				animation-duration:0.4s;
			}
		}
	}
	@keyframes span{
		0%{
			transform:scale(0);
		}
		100%{
			transform:scale(1);
		}
	}
	@media (max-width: 900px) {
		&__top{
			flex-wrap:wrap;
		}
		&__column{
			flex: 0 1 50%;
			&_b{}
			&:first-child{
				flex: 1 1 100%;
			}
			&:last-child{
				flex: 1 1 100%;
			}
		}
		&__bottom{
			padding: 45px 0;
		}
		&__link{
			padding: 0 30px;
		}
	}
}
.block-shop {
	height: 100%;
	&__row {
		display: flex;
	}
	&__column {
		flex: 0 1 50%;
	}
	&__item {
		height: auto;
		padding: 0 0 50% 0;
		&_b{
			padding: 0 0 200.5% 0;
		}
		&_l{
			padding: 0 0 100% 0;
		}
	}
}


